@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Biblioteca Virtual</h1>
    <p class="lead">Sistema de Prestamos de Libros. Biblioteca Virtual.</p>
    <!----<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="body-content">
        <h2></h2>

        <img src="/Imagenes/libro.jpg" class="center-block" />
        <h2></h2>
        <p>
            Creado en ASP.NET MVC, Sharyl Mendoza.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    
</div>